<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <img class="iconbook"
            src="/assets/icons/journal-bookmark.svg" alt="pencil image">
    <h1 class="display-3">TO DO</h1>
    <p class="lead">Prepare Your TO-DOs now</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
